.App {
  text-align: center;
  padding: 4rem;
  font-family: Arial, sans-serif;
}

.launch-button {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal-sidepanel {
  position: fixed;
  border-radius: 50px;
  right: 10px;
  bottom:10px;
  width: 450px;
  height: 95%;
  background: #fff;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.channels-frame {
  width: 100%;
  height: 100%;
  border: none;
  flex-grow: 1;
  border-radius: 14px ;
  background-color:#252525;
}

.close-button {
  background: transparent;
  font-size: 1.4rem;
  padding: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #202020 !important;
  transition: background-color 5000s ease-in-out 0s;
}



body {
  font-family: Arial, sans-serif; 
}

.og-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.left-panel {
  background-color: #1E1E1E;
  color: white;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:flex-start;
}

.right-panel {
  background-color: #FF8346;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content:start;
  padding-left: 20px;
}

.logo {
  height: 30px;
  margin-bottom: 20px;
}

.content-box {
  max-width: 450px;
  background-color: #ffa676;
  border-radius: 10px;
  padding:24px;
  margin: auto;
}

.content-box h2 {
  font-size: 18px;
  font-weight: 600;
  color: #202020;
}
.content-box p {
  margin-top: 12px;
  font-size: 14px;
  font-weight:200;
  color: #202020;
}

.content-box h3 {
  margin-top: 2px;
  font-size: 22px;
  font-weight: 600;
  color: #202020;
}
.email-text{
  color:#202020;
  margin-top: 14px;
  font-size: 14px;
}
.error-message{
  color:rgb(220, 50, 50);
  margin-top: 8px;
  font-size: 12px;
}

.cta-email-wrapper {
  display: flex;
  width: 100%;
  max-width: 420px;
  border: 1px solid #202020;
  border-radius: 25px;
  overflow: hidden; 
  background-color: transparent; 
  margin-top: 16px;
}

.styled-email-input {
  flex: 1;
  padding: 14px 16px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 14px;
  font-weight: 200;
}

.styled-email-input::placeholder {
  color: #202020;
  font-weight: 200;
}

.send-arrow-btn {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.send-arrow-btn img {
  width: 32px;
  height: 32px;
}

.send-arrow-btn:disabled {
  background-color: transparent;
  cursor: not-allowed;
  visibility: hidden;
}


.emailField{
  margin-top: 8px;
}
.styled-email-input{
  color: black;
  background-color: transparent;
}


.styled-email-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.input-field::placeholder {
  color: black;
  font-weight: 100; 
  opacity: 1; 
}


.right-image {
  max-height: 300px;
  object-fit: contain;
}



@media (max-width: 900px) {
  .og-container {
    flex-direction: column;
  }

  .left-panel, .right-panel {
    width: 100%;
    padding: 20px;
    height: 50%;
    align-items: center;
  }

  .left-panel {
    justify-content: center;
    text-align: center;
  }
  .right-panel {
    justify-content: center;
    text-align: center;
  }

  .content-box {
    margin: 0 auto;
  }

  .cta-buttons {
    flex-direction: column;
    align-items: center;
  }

  .primary-btn, .secondary-btn {
    width: 100%;
    text-align: center;
  }
  .primary-btn {
   padding: 14px 10px;
  }

  .right-image {
    max-height: 250px;
   
  }
}

@media (max-width: 500px) {
  .modal-sidepanel{
    width:350px
  }

}
@media (max-width: 450px) {
  .modal-sidepanel{
    width:100%
  }

}